<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Myapp</title>
=======
    <title>App1</title>
>>>>>>> 3a7608e12a28da2fc23cadce5a400623a27216ce
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
